1. 项目规划/1.3 定义领域模型/Payment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="Payment">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PaymentId" type="xs:int" />
        <xs:element name="OrderId" type="xs:int" />
        <xs:element name="Amount" type="xs:decimal" />
        <xs:element name="PaymentMethod" type="xs:string" />
        <xs:element name="CreateTime" type="xs:dateTime" />
        <xs:element name="Status" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>