1. 项目规划/1.3 定义领域模型/Product.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="Product">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ProductId" type="xs:int" />
        <xs:element name="ProductName" type="xs:string" />
        <xs:element name="Description" type="xs:string" minOccurs="0" />
        <xs:element name="Price" type="xs:decimal" />
        <xs:element name="Stock" type="xs:int" />
        <xs:element name="CategoryId" type="xs:int" />
        <xs:element name="ImageUrl" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>