1. 项目规划/1.3 定义领域模型/Shipping.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="Shipping">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ShippingId" type="xs:int" />
        <xs:element name="OrderId" type="xs:int" />
        <xs:element name="LogisticsCompany" type="xs:string" />
        <xs:element name="TrackingNumber" type="xs:string" />
        <xs:element name="CreateTime" type="xs:dateTime" />
        <xs:element name="EstimatedDelivery" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>